div {
    display: flex
}

section{
    background-image: ;
    height: ;
}

button{
    background-color:hsl(0, 93%, 68%);
 

h1{
    color: hsl(0, 36%, 70%);
}
    span{ 
        color:black;  
}

p{
    color: hsl(0, 93%, 68%);

}